# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist

# next.js build output
.next/
out/

# next.js cache
.next/cache

# environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# local .env file
.env

# typescript build output
*.tsbuildinfo

# editor directories and files
.vscode
.idea
*.sublime-project
*.sublime-workspace

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# Windows
Thumbs.db

# miscellaneous
.npm
.eslintcache
